<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Vue list</title>
    <!-- <link rel="icon" type="image/png" href="favicon.png"> -->
    <!-- <link rel="stylesheet" href="assets/style.css"> -->
</head>

<body>


    <div id="app">
        <input type="text" v-model="newTodoText" v-on:keyup.enter="add" placeholder="Add a todo">
        <button type="button" name="button" v-on:click="add">add</button>
        <ol>
            <todo-item v-for="(todo, index) in todos" v-bind:todo="todo" v-on:remove="remove(index)"></todo-item>
        </ol>
    </div>


    <script src="https://unpkg.com/vue@next/dist/vue.js"></script>
    <script type="text/javascript" src="toVueList.js">
    </script>
</body>

</html>
